* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}