* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;  
    background-color: rgb(24, 175, 24);
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.typer-turneringar{
    background-color: aquamarine;
    padding: 1rem;
}

footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}